/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #2A9F46;
  --color-primary-dark: #23883b;
  --color-secondary: #2A9F46;
  --color-text: #080819;
  --color-text-light: #4b5a53;
  --color-bg: #fafcfb;
  --color-bg-alt: #ECF9F0;
  --color-border: #eef1ef;
  --radius: 16px;
  --container-width: 1150px;
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}